@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik+Storm&display=swap");

:root {
  --title-color: hsl(0, 0%, 100%);
  --text-color: hsl(0, 0%, 90%);
  --text-color-light: hsl(0, 0%, 35%);
  --subtitle-color: hsl(204, 2%, 55%);
  --container-color: hsl(0, 0%, 22%);
  --body-color: hsl(0, 0%, 11%);

  --ff-poppins: "Poppins", sans-serif;
  --ff-rubikStorm: "Rubik Storm", system-ui;

  --vfx-slide-count: 4;
  --vfx-slide-height: 400px;
  --vfx-slide-width: 200px;
  --vfx-img-gap: 7px;
  --vfx--time: 15s;

  --fs-lg: 1.25rem;
  --fs-md: 0.975rem;
  --fs-sm: 0.913rem;
  --fs-xs: 0.865rem;
  --fs-xxs: 0.75rem;

  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semibold: 600;
  --fw-bold: 700;

  --space-1: 0.5rem;
  --space-2: 1rem;
  --space-3: 1.5rem;
  --space-4: 2rem;
  --space-5: 2.5rem;

  --zi-soft: 10;
  --zi-hard: 100;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--body-color);
  color: var(--text-color);
  font-family: var(--ff-poppins);
}

html {
  scroll-behavior: smooth;
  scroll-snap-type: proximity;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* utils */

.container {
  width: 100%;
  padding-inline: var(--space-3);
}

.section {
  padding-block: 6rem;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
}

/* header & nav */

.header {
  position: fixed;
  bottom: var(--space-2);
  right: 50%;
  transform: translateX(50%);
  z-index: var(--zi-hard);
}

.nav {
  height: 3rem;
  padding: var(--space-2);
  background-color: var(--container-color);
  border-radius: var(--space-1);
  overflow: hidden;
}

.nav__list {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--space-3);
}

.nav__button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  color: var(--text-color-light);
  font-size: var(--fs-lg);
  padding: var(--space-1);
}

.nav__link {
  color: var(--text-color-light);
  font-size: var(--fs-lg);
  padding: var(--space-1);
}

.nav__link.active {
  position: relative;
  display: inline-block;
  color: var(--text-color);
  font-weight: var(--fw-semibold);
  width: 42px;
  height: 42px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--body-color);
}

/* social */

.social__list {
  position: fixed;
  top: var(--space-3);
  right: var(--space-1);
  display: flex;
  flex-direction: column;
  gap: var(--space-1);
  font-size: var(--fs-lg);
  background-color: var(--container-color);
  padding: var(--space-1);
  border-radius: var(--space-1);
  z-index: var(--zi-hard);
}
.social__link {
  color: var(--subtitle-color);
  transition: 0.4s;
}

.social__link:hover {
  color: var(--text-color);
}

/* home */
.home__content {
  padding-block: var(--space-3);
}

.home__figure {
  max-width: 100%;
}

.home__img {
  width: 100%;
}

.home__title {
  font-size: var(--fs-lg);
  color: var(--title-color);
}

.home__subtitle {
  font-size: var(--fs-sm);
  color: var(--subtitle-color);
  margin-bottom: var(--space-2);
}

.home__list {
  display: grid;
  gap: var(--space-1);
}

.home__item {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.home__figure--main {
  mask-image: url(../imgs/showcases/latest-mask.webp);
  mask-repeat: no-repeat;
  mask-size: cover;
}

.home__name,
.home__value {
  padding-right: var(--space-1);
}

.home__name {
  color: var(--subtitle-color);
  font-size: var(--fs-xxs);
}

.home__value {
  font-size: var(--fs-xxs);
}

.home__slide {
  width: 100%;
  max-width: 12rem;
  border-radius: var(--space-1);
}

.home__swiper {
  margin-top: 3rem;
}

.home__link {
  color: var(--text-color);
}

.home__caption {
  font-size: var(--fs-xxs);
  text-transform: capitalize;
}

/* recent */
.recent {
  padding-top: 6rem;
}

.recent__title {
  font-size: var(--fs-lg);
  color: var(--title-color);
}

.recent__subtitle {
  font-size: var(--fs-xs);
  color: var(--subtitle-color);
  margin-bottom: 1.5rem;
}

.recent__item {
  position: relative;
  width: 250px;
  border-radius: var(--space-1);
  overflow: hidden;
}

.recent__figure {
  position: relative;
}

.recent__img {
  border-radius: 0.5rem;
}

.recent__caption {
  position: absolute;
  color: var(--text-color);
  height: 45px;
  font-size: var(--fs-xs);
  bottom: 0;
  opacity: 0;
  padding: 0.5rem 0.5rem 1.5rem;
  margin-bottom: var(--space-1);
  background-color: hsla(0, 0%, 0%, 0.65);
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  visibility: hidden;
  transition: 0.4s;
  z-index: 1;
}

.recent__item:hover .recent__caption {
  opacity: 1;
  visibility: visible;
  height: 90px;
}

.recent__category {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--text-color);
  color: var(--body-color);
  font-size: var(--fs-xs);
  padding: 0.25rem;
}

.recent__button {
  display: inline-flex;
  padding: var(--space-1);
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: var(--body-color);
  color: var(--text-color);
  border-top-left-radius: var(--space-1);
  font-size: var(--fs-sm);
  z-index: var(--zi-soft);
  border: 1px solid var(--text-color);
}

.recent__button i {
  margin-left: var(--space-1);
  transition: 0.4s;
}

.recent__item:hover .recent__button i {
  transform: translateX(0.25rem);
}

/* about */
.about__content {
  display: grid;
  gap: var(--space-3);
}

.about__header {
  display: flex;
  flex-direction: column;
}

.about__data {
  display: grid;
  gap: var(--space-3);
}

.about__title {
  font-size: var(--fs-lg);
  color: var(--title-color);
}

.about__subtitle {
  font-size: var(--fs-xs);
  color: var(--subtitle-color);
  margin-bottom: 1.5rem;
}

.about__description {
  font-size: var(--fs-md);
}

.about__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  font-size: var(--fs-xs);
  gap: var(--space-2);
  color: var(--subtitle-color);
}

.about__figure {
  position: relative;
  width: 250px;
  height: 250px;
  overflow: hidden;
  margin-inline: auto;
}

.about__img--1,
.about__img--2 {
  position: absolute;
  width: 150px;
  height: 160px;
  border-radius: 0.5rem;
}

.about__img--1 {
  bottom: 0;
  left: 0;
}

.about__img--2 {
  top: -1.5rem;
  right: 0;
}

.about__img--2 {
  top: var(--space-3);
  z-index: var(--zi-soft);
}

.button__about {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 48px;
  background-color: var(--container-color);
  color: var(--text-color);
  margin-top: var(--space-2);
  border-radius: 0.5rem;
}

.button__about:hover {
  opacity: 0.85;
}

.button__about i {
  margin-left: var(--space-1);
}

/* news */

.news__title {
  font-size: var(--fs-lg);
  color: var(--title-color);
}

.news__subtitle {
  font-size: var(--fs-xs);
  color: var(--subtitle-color);
  margin-bottom: 1.5rem;
}

.news__item {
  position: relative;
  border-radius: 16px;
  overflow: hidden;
  width: 100%;
  height: 300px;
  padding: 1rem;
  cursor: pointer;
}

.news__item::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.news__figure {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.news__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.news__data {
  position: absolute;
  bottom: 0.75rem;
  left: 0;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;
  z-index: 10;
}

.news__item .news__data {
  transition: all 0.6s;
}

.news__item:hover .news__data {
  transform: translateY(-2.5rem);
}

.news__item .news__description {
  opacity: 0;
  transition: all 0.6s;
}

.news__item:hover .news__description {
  opacity: 1;
}

.news__title {
  font-size: 1.5rem;
  white-space: nowrap;
  width: 268px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.news__date {
  font-size: 0.85rem;
  color: var(--text-color);
  opacity: 0.75;
}

.news__description {
  white-space: nowrap;
  width: 268px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.news__more {
  position: absolute;
  bottom: 0;
  padding-bottom: 1rem;
  z-index: 10;
}

.news__link {
  color: var(--yellow-color);
}

.news__item .news__link i {
  display: inline-block;
  transition: transform 0.4s;
}

.news__item:hover .news__link i {
  transform: translateX(0.25rem);
}

@media screen and (min-width: 1367px) {
  .news__title {
    width: 350px;
    font-size: 2rem;
  }

  .news__description {
    width: 350px;
    font-size: 1.35rem;
  }

  .news__date {
    font-size: 0.95rem;
  }

  .news__item {
    height: 400px;
  }
}

/* vfx */

.vfx {
  height: 100vh;
  background-color: #28282c;
  overflow: hidden;
}

.vfx__content {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  place-items: center;
  height: 100%;
}

.vfx__data {
  color: rgb(207, 207, 207);
  padding-left: 80px;
}

.vfx__title {
  width: max-content;
  font-size: clamp(2rem, 5vw, 7rem);
  letter-spacing: 2px;
  margin-bottom: 2rem;
  background: #21ad67;
  background-image: linear-gradient(to right, #0075ba, #21ad67, #fae287);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.vfx__description {
  font-size: clamp(1rem, 2vw, 1.4rem);
  font-weight: 500;
  font-size: var(--fs-sm);
  margin-right: 2rem;
  max-width: 600px;
  line-height: 1.5;
}

.vfx__list {
  display: flex;
  gap: 2rem;
  transform: rotate(8deg);
}

.vfx__item {
  width: var(--vfx-slide-width);
  height: 100vh;
  background: transparent;
  position: relative;
}

.vfx__track {
  display: flex;
  flex-direction: column;
  position: absolute;
  gap: 1rem;
  top: 0;
  animation: move-up calc(var(--vfx--time) * var(--vfx-slide-count)) linear infinite;
}

#vfx-item-2 .vfx__track {
  animation: move-down calc(var(--vfx--time) * var(--vfx-slide-count)) linear infinite;
}

.vfx__figure {
  width: var(--vfx-slide-width);
  height: var(--vfx-slide-height);
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(rgba(255, 255, 255, 0.2), transparent, rgba(255, 255, 255, 0.5));
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 120px;
  margin: var(--gap) 0;
  padding: 10px;
}

.vfx__img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: inherit;
}

@keyframes move-up {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(
      calc(-1 * var(--vfx-slide-count) * (var(--vfx-slide-height) + var(--vfx-img-gap) * 2))
    );
  }
}

@keyframes move-down {
  0% {
    transform: translateY(
      calc(-1 * var(--vfx-slide-count) * (var(--vfx-slide-height) + var(--vfx-img-gap) * 2))
    );
  }
  100% {
    transform: translateY(0);
  }
}

@media screen and (max-width: 1500px) {
  :root {
    --vfx-slide-height: 180px;
    --vfx-slide-height: 350px;
  }

  .vfx__content {
    grid-template-columns: 45% 55%;
  }

  .vfx__list {
    gap: 1rem;
  }
}

@media screen and (max-width: 1200px) {
  :root {
    --vfx-slide-height: 150px;
    --vfx-slide-height: 300px;
  }

  .vfx__content {
    grid-template-columns: 40% 60%;
  }

  .vfx__data {
    padding-left: 60px;
  }
}

@media screen and (max-width: 1100px) {
  :root {
    --vfx-slide-height: 180px;
    --vfx-slide-height: 350px;
  }

  .vfx__content {
    grid-template-columns: 100%;
  }

  .vfx__data {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.7);
    color: #e3e2e5;
    padding: var(--space-3);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 30px;
  }

  .vfx__description {
    line-height: 1.3;
    margin-right: 0;
  }

  .vfx__list {
    gap: 2rem;
  }
}

@media screen and (max-width: 850px) {
  :root {
    --vfx-slide-height: 150px;
    --vfx-slide-height: 300px;
  }

  .vfx__list {
    gap: 1rem;
  }
}

@media screen and (max-width: 350px) {
  .vfx__data {
    padding: 2rem;
  }
}

/* footer */

.footer {
  margin-block: 6rem;
}

.footer__data {
  text-align: center;
  margin-bottom: var(--space-3);
}

.footer__logo {
  font-family: var(--ff-rubikStorm);
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: var(--fs-lg);
}

.footer__description {
  color: var(--subtitle-color);
  font-size: var(--fs-xs);
}

.footer__list {
  display: flex;
  justify-content: center;
  gap: var(--space-3);
  margin-bottom: var(--space-3);
}

.footer__link {
  color: var(--text-color);
  font-size: var(--fs-xxs);
  transition: 0.4s;
}

.footer__link:hover {
  opacity: 0.75;
}

.footer__list--social .footer__link {
  font-size: var(--fs-md);
}

.footer__copyright {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: var(--fs-xxs);
  color: var(--subtitle-color);
  margin-bottom: 5rem;
}

/* breakpoints */

/* md scn */
@media screen and (min-width: 750px) {
  .home__content {
    position: relative;
  }

  .home__figure--main {
    width: 450px;
    position: absolute;
    mask-image: url(../imgs/showcases/latest-mask.webp);
    mask-repeat: no-repeat;
    mask-size: cover;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  .home__data {
    position: absolute;
    left: 400px;
    top: 185px;
    background-color: var(--body-color);
    border: 2px solid var(--container-color);
    padding: var(--space-3);
    border-radius: var(--space-1);
    text-transform: capitalize;
  }

  .home__swiper {
    padding-top: 400px;
  }

  .recent__category {
    padding: var(--space-1);
    font-size: var(--fs-lg);
  }
}

@media screen and (min-width: 750px) {
  .home__content {
    position: relative;
  }

  .home__figure--main {
    width: 450px;
  }

  /* social */
  .social__list {
    top: 50%;
    transform: translateY(-50%);
    left: var(--space-2);
    right: initial;
    gap: var(--space-2);
  }
}

@media screen and (min-width: 988px) {
  .home__data {
    left: 650px;
    top: 185px;
  }
}

/* lg scn */

@media screen and (min-width: 1170px) {
  .container {
    width: 100%;
    max-width: 1200px;
    margin-inline: auto;
  }

  .section {
    padding-block: 8rem;
  }

  .header {
    bottom: 50%;
    transform: translate(0, 50%);
    right: var(--space-2);
  }

  .nav {
    height: initial;
    width: 3rem;
  }

  .nav__list {
    flex-direction: column;
  }

  .nav__link.active::after {
    content: "";
    display: inline-flex;
    position: absolute;
    left: -1.5rem;
    width: 1.6rem;
    height: 0.75rem;
    background-color: var(--body-color);
  }

  /* home */

  .home__content {
    position: relative;
  }

  .home__figure--main {
    width: 650px;
  }

  .home__img {
    border-radius: var(--space-1);
    box-shadow: 4px 4px 12px rgba(255, 255, 255, 0.1), -4px -4px 12px rgba(255, 255, 255, 0.1);
  }

  .home__data {
    left: 768px;
    top: 185px;
  }

  .home__figure {
    text-align: center;
  }

  .home__caption {
    font-size: var(--fs-xs);
    color: var(--subtitle-color);
  }

  .about__content {
    grid-template-columns: repeat(2, 1fr);
    font-size: var(--fs-xs);
    align-items: center;
    gap: var(--space-2);
  }

  .about__data {
    order: 1;
  }

  .about__figure {
    width: 350px;
    height: 350px;
  }

  .about__img--1,
  .about__img--2 {
    width: 210px;
    height: auto;
  }
}

/* 2k scn */
@media screen and (min-width: 2024px) {
  body {
    zoom: 1.3;
  }

  .home__figure {
    width: 800px;
  }
}

/* 4k scn */
@media screen and (min-width: 4048px) {
  body {
    zoom: 2.1;
  }
}

/* 5k scn */
@media screen and (min-width: 5119px) {
  body {
    zoom: 2.3;
  }
}
